.bg-beige{
   background-color: $custom_beige;
}

.bg-brown{
   background-color: $custom_brown;
}

.text-brown{
   background-color: $custom_brown;
}

.text-beige{
   background-color: $custom_beige;
}