.bg-beige{
   background-color: $custom_beige;
}

.bg-brown{
   background-color: $custom_brown;
}

.text-brown{
   background-color: $custom_brown;
}

.text-beige{
   background-color: $custom_beige;
}

.border-bottom-brown{
   border-bottom: 2px solid $custom_brown;
}