.bg-beige{
   background-color: $custom_beige;
}

.bg-brown{
   background-color: $custom_brown;
}

.text-brown{
   background-color: $custom_brown;
}

.text-beige{
   background-color: $custom_beige;
}

.btn-brown{
   background-color: $custom_brown;
}

/* Cambia el color de las flechas del carousel a negro */
.carousel-control-prev-icon,
.carousel-control-next-icon{
   filter: invert(100%);
}