.bi-heart-fill-hover:hover,
.bi-x-circle-hover:hover {
	color: red; /* It changes the color to red on hover */
	content: "\2665"; /* Unicode code for filled heart symbol */
}

.bg-beige-hover:hover {
	background-color: $custom_beige;
	cursor: pointer;
}

.border-bottom-brown-hover:hover {
	border-bottom: 3px solid $custom_brown;
	cursor: pointer;
}

.border-bottom-dark-hover:hover {
	border-bottom: 3px solid black;
	cursor: pointer;
}
